<%- include("header") -%>

<div class="box" id="heading">
  <h2>This is the about page of the to do list web app</h2>
</div>

<div class="box">
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic blanditiis ea
    saepe incidunt sapiente adipisci voluptatibus quam cupiditate sint ad modi
    architecto fugit rem molestias eius in odit voluptate asperiores quas,
    exercitationem fuga ullam perspiciatis? Sunt quos vel non. Deserunt vel
    quibusdam earum sed quae non nam perferendis quisquam exercitationem unde
    cumque dolorem voluptatum odit vero accusantium aliquid quam dolor,
    necessitatibus maxime est nostrum temporibus eaque obcaecati! Libero
    molestias illo explicabo a repellendus et deserunt dolorem, nobis fugiat
    debitis esse officia quia rerum, laudantium dolor aliquid voluptatem, nemo
    ut? Molestiae impedit aspernatur, molestias nesciunt iste earum cumque harum
    facere porro.
  </p>
</div>

<%- include("footer") -%>
